# This needs to be set to import packages from github instead of npm
@dealerclick:registry=https://npm.pkg.github.com

# This is needed to authenticate with github
//npm.pkg.github.com/:_authToken=${GH_TOKEN}
