:root {
  --md-source: #00ff00;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #001200;
  --md-ref-palette-primary5: #001500;
  --md-ref-palette-primary6: #001800;
  --md-ref-palette-primary10: #002200;
  --md-ref-palette-primary12: #002600;
  --md-ref-palette-primary17: #013200;
  --md-ref-palette-primary20: #013a00;
  --md-ref-palette-primary22: #013f00;
  --md-ref-palette-primary24: #014400;
  --md-ref-palette-primary25: #014600;
  --md-ref-palette-primary30: #015300;
  --md-ref-palette-primary35: #026100;
  --md-ref-palette-primary40: #026e00;
  --md-ref-palette-primary50: #038b00;
  --md-ref-palette-primary60: #03a800;
  --md-ref-palette-primary70: #03c700;
  --md-ref-palette-primary80: #02e600;
  --md-ref-palette-primary87: #00fd00;
  --md-ref-palette-primary90: #77ff61;
  --md-ref-palette-primary92: #9fff88;
  --md-ref-palette-primary94: #bdffa9;
  --md-ref-palette-primary95: #cbffb8;
  --md-ref-palette-primary96: #d7ffc6;
  --md-ref-palette-primary98: #edffe1;
  --md-ref-palette-primary99: #f7ffee;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #051104;
  --md-ref-palette-secondary5: #071405;
  --md-ref-palette-secondary6: #0a1607;
  --md-ref-palette-secondary10: #121f0e;
  --md-ref-palette-secondary12: #162312;
  --md-ref-palette-secondary17: #202d1c;
  --md-ref-palette-secondary20: #263422;
  --md-ref-palette-secondary22: #2b3826;
  --md-ref-palette-secondary24: #2f3d2a;
  --md-ref-palette-secondary25: #313f2c;
  --md-ref-palette-secondary30: #3c4b37;
  --md-ref-palette-secondary35: #485642;
  --md-ref-palette-secondary40: #54634d;
  --md-ref-palette-secondary50: #6c7b65;
  --md-ref-palette-secondary60: #86957e;
  --md-ref-palette-secondary70: #a0b097;
  --md-ref-palette-secondary80: #bbcbb2;
  --md-ref-palette-secondary87: #cedfc4;
  --md-ref-palette-secondary90: #d7e8cd;
  --md-ref-palette-secondary92: #ddedd2;
  --md-ref-palette-secondary94: #e2f3d8;
  --md-ref-palette-secondary95: #e5f6da;
  --md-ref-palette-secondary96: #e8f9dd;
  --md-ref-palette-secondary98: #eeffe3;
  --md-ref-palette-secondary99: #f7ffee;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #001112;
  --md-ref-palette-tertiary5: #001415;
  --md-ref-palette-tertiary6: #001718;
  --md-ref-palette-tertiary10: #002022;
  --md-ref-palette-tertiary12: #002426;
  --md-ref-palette-tertiary17: #002f32;
  --md-ref-palette-tertiary20: #003739;
  --md-ref-palette-tertiary22: #053b3e;
  --md-ref-palette-tertiary24: #0c4042;
  --md-ref-palette-tertiary25: #104245;
  --md-ref-palette-tertiary30: #1e4d50;
  --md-ref-palette-tertiary35: #2b595c;
  --md-ref-palette-tertiary40: #386568;
  --md-ref-palette-tertiary50: #517f81;
  --md-ref-palette-tertiary60: #6b989b;
  --md-ref-palette-tertiary70: #85b3b6;
  --md-ref-palette-tertiary80: #a0cfd2;
  --md-ref-palette-tertiary87: #b3e3e6;
  --md-ref-palette-tertiary90: #bcebee;
  --md-ref-palette-tertiary92: #c1f1f4;
  --md-ref-palette-tertiary94: #c7f7fa;
  --md-ref-palette-tertiary95: #caf9fd;
  --md-ref-palette-tertiary96: #cefcff;
  --md-ref-palette-tertiary98: #e7feff;
  --md-ref-palette-tertiary99: #f2ffff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0f0b;
  --md-ref-palette-neutral5: #0f120e;
  --md-ref-palette-neutral6: #121410;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral12: #1e201c;
  --md-ref-palette-neutral17: #282b27;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral22: #333531;
  --md-ref-palette-neutral24: #383a35;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918c;
  --md-ref-palette-neutral70: #abaca6;
  --md-ref-palette-neutral80: #c6c7c1;
  --md-ref-palette-neutral87: #dadad4;
  --md-ref-palette-neutral90: #e2e3dc;
  --md-ref-palette-neutral92: #e8e9e2;
  --md-ref-palette-neutral94: #eeeee8;
  --md-ref-palette-neutral95: #f1f1eb;
  --md-ref-palette-neutral96: #f4f4ed;
  --md-ref-palette-neutral98: #f9faf3;
  --md-ref-palette-neutral99: #fcfdf6;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0a1008;
  --md-ref-palette-neutral-variant5: #0d120b;
  --md-ref-palette-neutral-variant6: #0f150d;
  --md-ref-palette-neutral-variant10: #181d15;
  --md-ref-palette-neutral-variant12: #1c2119;
  --md-ref-palette-neutral-variant17: #262c23;
  --md-ref-palette-neutral-variant20: #2c3229;
  --md-ref-palette-neutral-variant22: #31362e;
  --md-ref-palette-neutral-variant24: #353b32;
  --md-ref-palette-neutral-variant25: #373d34;
  --md-ref-palette-neutral-variant30: #43483f;
  --md-ref-palette-neutral-variant35: #4e544a;
  --md-ref-palette-neutral-variant40: #5a6056;
  --md-ref-palette-neutral-variant50: #73796e;
  --md-ref-palette-neutral-variant60: #8d9387;
  --md-ref-palette-neutral-variant70: #a7ada1;
  --md-ref-palette-neutral-variant80: #c3c8bc;
  --md-ref-palette-neutral-variant87: #d6dccf;
  --md-ref-palette-neutral-variant90: #dfe4d7;
  --md-ref-palette-neutral-variant92: #e5eadd;
  --md-ref-palette-neutral-variant94: #eaf0e3;
  --md-ref-palette-neutral-variant95: #edf3e5;
  --md-ref-palette-neutral-variant96: #f0f6e8;
  --md-ref-palette-neutral-variant98: #f6fbee;
  --md-ref-palette-neutral-variant99: #f9fef1;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #026e00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #77ff61;
  --md-sys-color-on-primary-container-light: #002200;
  --md-sys-color-primary-fixed-light: #77ff61;
  --md-sys-color-on-primary-fixed-light: #002200;
  --md-sys-color-primary-fixed-dim-light: #02e600;
  --md-sys-color-on-primary-fixed-variant-light: #015300;
  --md-sys-color-secondary-light: #54634d;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d7e8cd;
  --md-sys-color-on-secondary-container-light: #121f0e;
  --md-sys-color-secondary-fixed-light: #d7e8cd;
  --md-sys-color-on-secondary-fixed-light: #121f0e;
  --md-sys-color-secondary-fixed-dim-light: #bbcbb2;
  --md-sys-color-on-secondary-fixed-variant-light: #3c4b37;
  --md-sys-color-tertiary-light: #386568;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bcebee;
  --md-sys-color-on-tertiary-container-light: #002022;
  --md-sys-color-tertiary-fixed-light: #bcebee;
  --md-sys-color-on-tertiary-fixed-light: #002022;
  --md-sys-color-tertiary-fixed-dim-light: #a0cfd2;
  --md-sys-color-on-tertiary-fixed-variant-light: #1e4d50;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfdf6;
  --md-sys-color-on-background-light: #1a1c18;
  --md-sys-color-outline-light: #73796e;
  --md-sys-color-inverse-on-surface-light: #f1f1eb;
  --md-sys-color-inverse-surface-light: #2f312d;
  --md-sys-color-inverse-primary-light: #02e600;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #026e00;
  --md-sys-color-outline-variant-light: #c3c8bc;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f9faf3;
  --md-sys-color-on-surface-light: #1a1c18;
  --md-sys-color-surface-variant-light: #dfe4d7;
  --md-sys-color-on-surface-variant-light: #43483f;
  --md-sys-color-surface-container-highest-light: #e2e3dc;
  --md-sys-color-surface-container-high-light: #e8e9e2;
  --md-sys-color-surface-container-light: #eeeee8;
  --md-sys-color-surface-container-low-light: #f4f4ed;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dadad4;
  --md-sys-color-surface-bright-light: #f9faf3;
  /* dark */
  --md-sys-color-primary-dark: #02e600;
  --md-sys-color-on-primary-dark: #013a00;
  --md-sys-color-primary-container-dark: #015300;
  --md-sys-color-on-primary-container-dark: #77ff61;
  --md-sys-color-primary-fixed-dark: #77ff61;
  --md-sys-color-on-primary-fixed-dark: #002200;
  --md-sys-color-primary-fixed-dim-dark: #02e600;
  --md-sys-color-on-primary-fixed-variant-dark: #015300;
  --md-sys-color-secondary-dark: #bbcbb2;
  --md-sys-color-on-secondary-dark: #263422;
  --md-sys-color-secondary-container-dark: #3c4b37;
  --md-sys-color-on-secondary-container-dark: #d7e8cd;
  --md-sys-color-secondary-fixed-dark: #d7e8cd;
  --md-sys-color-on-secondary-fixed-dark: #121f0e;
  --md-sys-color-secondary-fixed-dim-dark: #bbcbb2;
  --md-sys-color-on-secondary-fixed-variant-dark: #3c4b37;
  --md-sys-color-tertiary-dark: #a0cfd2;
  --md-sys-color-on-tertiary-dark: #003739;
  --md-sys-color-tertiary-container-dark: #1e4d50;
  --md-sys-color-on-tertiary-container-dark: #bcebee;
  --md-sys-color-tertiary-fixed-dark: #bcebee;
  --md-sys-color-on-tertiary-fixed-dark: #002022;
  --md-sys-color-tertiary-fixed-dim-dark: #a0cfd2;
  --md-sys-color-on-tertiary-fixed-variant-dark: #1e4d50;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c18;
  --md-sys-color-on-background-dark: #e2e3dc;
  --md-sys-color-outline-dark: #8d9387;
  --md-sys-color-inverse-on-surface-dark: #1a1c18;
  --md-sys-color-inverse-surface-dark: #e2e3dc;
  --md-sys-color-inverse-primary-dark: #026e00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #02e600;
  --md-sys-color-outline-variant-dark: #43483f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121410;
  --md-sys-color-on-surface-dark: #c6c7c1;
  --md-sys-color-surface-variant-dark: #43483f;
  --md-sys-color-on-surface-variant-dark: #c3c8bc;
  --md-sys-color-surface-container-highest-dark: #333531;
  --md-sys-color-surface-container-high-dark: #282b27;
  --md-sys-color-surface-container-dark: #1e201c;
  --md-sys-color-surface-container-low-dark: #1a1c18;
  --md-sys-color-surface-container-lowest-dark: #0d0f0b;
  --md-sys-color-surface-dim-dark: #121410;
  --md-sys-color-surface-bright-dark: #383a35;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
