:root {
  --md-source: #800080;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #210021;
  --md-ref-palette-primary5: #260026;
  --md-ref-palette-primary6: #2a002a;
  --md-ref-palette-primary10: #380038;
  --md-ref-palette-primary12: #3f003f;
  --md-ref-palette-primary17: #500050;
  --md-ref-palette-primary20: #5b005b;
  --md-ref-palette-primary22: #630062;
  --md-ref-palette-primary24: #6a006a;
  --md-ref-palette-primary25: #6e006e;
  --md-ref-palette-primary30: #810181;
  --md-ref-palette-primary35: #8f198e;
  --md-ref-palette-primary40: #9e2a9b;
  --md-ref-palette-primary50: #bb46b6;
  --md-ref-palette-primary60: #da61d2;
  --md-ref-palette-primary70: #f87cef;
  --md-ref-palette-primary80: #ffaaf3;
  --md-ref-palette-primary87: #ffcaf4;
  --md-ref-palette-primary90: #ffd7f5;
  --md-ref-palette-primary92: #ffdff6;
  --md-ref-palette-primary94: #ffe7f7;
  --md-ref-palette-primary95: #ffebf8;
  --md-ref-palette-primary96: #ffeff8;
  --md-ref-palette-primary98: #fff7f9;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #180916;
  --md-ref-palette-secondary5: #1b0b19;
  --md-ref-palette-secondary6: #1e0e1c;
  --md-ref-palette-secondary10: #271624;
  --md-ref-palette-secondary12: #2b1a28;
  --md-ref-palette-secondary17: #362433;
  --md-ref-palette-secondary20: #3d2b3a;
  --md-ref-palette-secondary22: #422f3e;
  --md-ref-palette-secondary24: #463343;
  --md-ref-palette-secondary25: #493545;
  --md-ref-palette-secondary30: #554151;
  --md-ref-palette-secondary35: #614c5d;
  --md-ref-palette-secondary40: #6d5869;
  --md-ref-palette-secondary50: #877082;
  --md-ref-palette-secondary60: #a2899c;
  --md-ref-palette-secondary70: #bea4b7;
  --md-ref-palette-secondary80: #dabfd2;
  --md-ref-palette-secondary87: #eed2e6;
  --md-ref-palette-secondary90: #f7daef;
  --md-ref-palette-secondary92: #fde0f4;
  --md-ref-palette-secondary94: #ffe7f7;
  --md-ref-palette-secondary95: #ffebf8;
  --md-ref-palette-secondary96: #ffeff8;
  --md-ref-palette-secondary98: #fff7f9;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #210501;
  --md-ref-palette-tertiary5: #250702;
  --md-ref-palette-tertiary6: #280a03;
  --md-ref-palette-tertiary10: #321208;
  --md-ref-palette-tertiary12: #37160b;
  --md-ref-palette-tertiary17: #442015;
  --md-ref-palette-tertiary20: #4c261b;
  --md-ref-palette-tertiary22: #512a1f;
  --md-ref-palette-tertiary24: #562e23;
  --md-ref-palette-tertiary25: #593125;
  --md-ref-palette-tertiary30: #663c2f;
  --md-ref-palette-tertiary35: #74473a;
  --md-ref-palette-tertiary40: #825345;
  --md-ref-palette-tertiary50: #9d6b5c;
  --md-ref-palette-tertiary60: #ba8474;
  --md-ref-palette-tertiary70: #d79e8d;
  --md-ref-palette-tertiary80: #f5b8a7;
  --md-ref-palette-tertiary87: #ffcfc2;
  --md-ref-palette-tertiary90: #ffdbd1;
  --md-ref-palette-tertiary92: #ffe2da;
  --md-ref-palette-tertiary94: #ffe9e4;
  --md-ref-palette-tertiary95: #ffede8;
  --md-ref-palette-tertiary96: #fff1ed;
  --md-ref-palette-tertiary98: #fff8f6;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #110d10;
  --md-ref-palette-neutral5: #141012;
  --md-ref-palette-neutral6: #161215;
  --md-ref-palette-neutral10: #1e1a1d;
  --md-ref-palette-neutral12: #231e21;
  --md-ref-palette-neutral17: #2d292c;
  --md-ref-palette-neutral20: #342f32;
  --md-ref-palette-neutral22: #383336;
  --md-ref-palette-neutral24: #3d383b;
  --md-ref-palette-neutral25: #3f3a3d;
  --md-ref-palette-neutral30: #4b4548;
  --md-ref-palette-neutral35: #575154;
  --md-ref-palette-neutral40: #635d60;
  --md-ref-palette-neutral50: #7c7579;
  --md-ref-palette-neutral60: #968f92;
  --md-ref-palette-neutral70: #b1a9ad;
  --md-ref-palette-neutral80: #cdc4c8;
  --md-ref-palette-neutral87: #e1d8db;
  --md-ref-palette-neutral90: #e9e0e4;
  --md-ref-palette-neutral92: #efe6e9;
  --md-ref-palette-neutral94: #f5ebef;
  --md-ref-palette-neutral95: #f8eef2;
  --md-ref-palette-neutral96: #fbf1f5;
  --md-ref-palette-neutral98: #fff7f9;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #130c12;
  --md-ref-palette-neutral-variant5: #160f15;
  --md-ref-palette-neutral-variant6: #191117;
  --md-ref-palette-neutral-variant10: #21191f;
  --md-ref-palette-neutral-variant12: #251d23;
  --md-ref-palette-neutral-variant17: #30272e;
  --md-ref-palette-neutral-variant20: #372e34;
  --md-ref-palette-neutral-variant22: #3b3239;
  --md-ref-palette-neutral-variant24: #40363d;
  --md-ref-palette-neutral-variant25: #423940;
  --md-ref-palette-neutral-variant30: #4e444b;
  --md-ref-palette-neutral-variant35: #5a4f57;
  --md-ref-palette-neutral-variant40: #665b63;
  --md-ref-palette-neutral-variant50: #80747c;
  --md-ref-palette-neutral-variant60: #9a8d95;
  --md-ref-palette-neutral-variant70: #b5a7b0;
  --md-ref-palette-neutral-variant80: #d1c2cb;
  --md-ref-palette-neutral-variant87: #e5d6df;
  --md-ref-palette-neutral-variant90: #eedee7;
  --md-ref-palette-neutral-variant92: #f4e4ed;
  --md-ref-palette-neutral-variant94: #f9eaf3;
  --md-ref-palette-neutral-variant95: #fcecf5;
  --md-ref-palette-neutral-variant96: #ffeff8;
  --md-ref-palette-neutral-variant98: #fff7f9;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #9e2a9b;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffd7f5;
  --md-sys-color-on-primary-container-light: #380038;
  --md-sys-color-primary-fixed-light: #ffd7f5;
  --md-sys-color-on-primary-fixed-light: #380038;
  --md-sys-color-primary-fixed-dim-light: #ffaaf3;
  --md-sys-color-on-primary-fixed-variant-light: #810181;
  --md-sys-color-secondary-light: #6d5869;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f7daef;
  --md-sys-color-on-secondary-container-light: #271624;
  --md-sys-color-secondary-fixed-light: #f7daef;
  --md-sys-color-on-secondary-fixed-light: #271624;
  --md-sys-color-secondary-fixed-dim-light: #dabfd2;
  --md-sys-color-on-secondary-fixed-variant-light: #554151;
  --md-sys-color-tertiary-light: #825345;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdbd1;
  --md-sys-color-on-tertiary-container-light: #321208;
  --md-sys-color-tertiary-fixed-light: #ffdbd1;
  --md-sys-color-on-tertiary-fixed-light: #321208;
  --md-sys-color-tertiary-fixed-dim-light: #f5b8a7;
  --md-sys-color-on-tertiary-fixed-variant-light: #663c2f;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1a1d;
  --md-sys-color-outline-light: #80747c;
  --md-sys-color-inverse-on-surface-light: #f8eef2;
  --md-sys-color-inverse-surface-light: #342f32;
  --md-sys-color-inverse-primary-light: #ffaaf3;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #9e2a9b;
  --md-sys-color-outline-variant-light: #d1c2cb;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff7f9;
  --md-sys-color-on-surface-light: #1e1a1d;
  --md-sys-color-surface-variant-light: #eedee7;
  --md-sys-color-on-surface-variant-light: #4e444b;
  --md-sys-color-surface-container-highest-light: #e9e0e4;
  --md-sys-color-surface-container-high-light: #efe6e9;
  --md-sys-color-surface-container-light: #f5ebef;
  --md-sys-color-surface-container-low-light: #fbf1f5;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e1d8db;
  --md-sys-color-surface-bright-light: #fff7f9;
  /* dark */
  --md-sys-color-primary-dark: #ffaaf3;
  --md-sys-color-on-primary-dark: #5b005b;
  --md-sys-color-primary-container-dark: #810181;
  --md-sys-color-on-primary-container-dark: #ffd7f5;
  --md-sys-color-primary-fixed-dark: #ffd7f5;
  --md-sys-color-on-primary-fixed-dark: #380038;
  --md-sys-color-primary-fixed-dim-dark: #ffaaf3;
  --md-sys-color-on-primary-fixed-variant-dark: #810181;
  --md-sys-color-secondary-dark: #dabfd2;
  --md-sys-color-on-secondary-dark: #3d2b3a;
  --md-sys-color-secondary-container-dark: #554151;
  --md-sys-color-on-secondary-container-dark: #f7daef;
  --md-sys-color-secondary-fixed-dark: #f7daef;
  --md-sys-color-on-secondary-fixed-dark: #271624;
  --md-sys-color-secondary-fixed-dim-dark: #dabfd2;
  --md-sys-color-on-secondary-fixed-variant-dark: #554151;
  --md-sys-color-tertiary-dark: #f5b8a7;
  --md-sys-color-on-tertiary-dark: #4c261b;
  --md-sys-color-tertiary-container-dark: #663c2f;
  --md-sys-color-on-tertiary-container-dark: #ffdbd1;
  --md-sys-color-tertiary-fixed-dark: #ffdbd1;
  --md-sys-color-on-tertiary-fixed-dark: #321208;
  --md-sys-color-tertiary-fixed-dim-dark: #f5b8a7;
  --md-sys-color-on-tertiary-fixed-variant-dark: #663c2f;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1a1d;
  --md-sys-color-on-background-dark: #e9e0e4;
  --md-sys-color-outline-dark: #9a8d95;
  --md-sys-color-inverse-on-surface-dark: #1e1a1d;
  --md-sys-color-inverse-surface-dark: #e9e0e4;
  --md-sys-color-inverse-primary-dark: #9e2a9b;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffaaf3;
  --md-sys-color-outline-variant-dark: #4e444b;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #161215;
  --md-sys-color-on-surface-dark: #cdc4c8;
  --md-sys-color-surface-variant-dark: #4e444b;
  --md-sys-color-on-surface-variant-dark: #d1c2cb;
  --md-sys-color-surface-container-highest-dark: #383336;
  --md-sys-color-surface-container-high-dark: #2d292c;
  --md-sys-color-surface-container-dark: #231e21;
  --md-sys-color-surface-container-low-dark: #1e1a1d;
  --md-sys-color-surface-container-lowest-dark: #110d10;
  --md-sys-color-surface-dim-dark: #161215;
  --md-sys-color-surface-bright-dark: #3d383b;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
